DENOMS="acudos"
PORT="5001"
ACCOUNT_NAME="faucet"
CLI_NAME="cudos-noded"
KEYRING_BACKEND="test"
KEYRING_PASSWORD=""
CREDIT_AMOUNT="100000000000000000000"
MAX_CREDIT="100000000000000000000"
FEES='1000000000000000000'
NODE=<RCP_ADDRESS>
MNEMONIC="<FAUCE_ACCOUNT_MNEMONIC>"
GOOGLE_API_KEY=""
CAPTCHA_SITE_KEY=""
GOOGLE_PROJECT_ID=""
CORS_DOMAIN_PUBLIC_TESTNET=""
CORS_DOMAIN_PRIVATE_TESTNET=""
